{% extends 'layout/base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/exam.css' %}">
{% endblock %}
{% block main_content %}
<div class="content-wrap">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 filter-wrap">
            <div class="col-md-12">
                <div class="col-md-11" style="padding:0">
                    <input type="text"
                           class="my-filter-input"
                           placeholder="Search Anything...">
                </div>
                <div class="col-md-1" style="padding:0">
                    <select class="filter-type">
                        <option>All</option>
                        <option>Kategori</option>
                        <option>Ujian</option>
                        <option>Teacher</option>
                    </select>
                </div>
            </div>
            {% if not exams %}
                No exam found, <a href="">create now.</a>
            {% else %}
            <div class="card-wrap">
                {% for exam in exams %}
                <div class="col-md-6">
                    <div class="exam-cards">
                        <div class="exam-detail">
                            <p class="category">Android</p>
                            <p class="exam-title">{{ exam.title }}</p>
                            <p class="teacher-name"><i class="fa fa-user"></i>
                                {{ exam.user.get_full_name }}</p>
                            <p class="posted"><i
                                    class="fa fa-calendar"></i>
                                21-11-2015</p>
                            <p class="status">{% if not exam.available %}Not {% else %}{% endif %}Available</p>
                        </div>
                        <div class="exam-level">
                            <p class="level">{{ exam.get_difficulty_display }}</p>
                            <a href="{% url 'exams:detail' exam.id %}" class="take-exam">See Detail</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
