{% extends 'layout/base.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock custom_css %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="content content-detail row">
                <form action="{% url 'exams:add' %}" method="post">{% csrf_token %}
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Title</label>
                        <input name="title" class="form-control" placeholder="Exam title" autofocus autocomplete="off" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Category</label>
                        <input class="form-control" placeholder="Kategori" autocomplete="off" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description" class="form-control" rows="2" placeholder="Exam description" autocomplete="off" required></textarea>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label style="display:block">Duration</label>
                        <input type="text" name="duration" class="form-control durasi" placeholder="0" autocomplete="off" required>
                        <label style="color:#656565">Minutes</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="">Difficulty</label>
                    <select name="difficulty" class="form-control">
                        <option value="1">Easy</option>
                        <option value="2">Medium</option>
                        <option value="3">Hard</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <div>
                        <label class="checkbox" for="available">
                            <input name="available" type="checkbox" id="available" data-toggle="checkbox" class="custom-checkbox" checked>
                            <span class="icons"><span class="icon-unchecked"></span>
                            <span class="icon-checked"></span></span>
                            Available now
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="date">
                            <label>From</label>
                            <select class="form-control date-input">
                                <option>1</option>
                                <option>2</option>
                            </select>
                            <select class="form-control month">
                                <option>Januari</option>
                                <option>Februari</option>
                            </select>
                            <select class="form-control year">
                                <option>2015</option>
                                <option>2016</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="date">
                            <label>To</label>
                            <select class="form-control date-input">
                                <option>1</option>
                                <option>2</option>
                            </select>
                            <select class="form-control month">
                                <option>Januari</option>
                                <option>Februari</option>
                            </select>
                            <select class="form-control year">
                                <option>2015</option>
                                <option>2016</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="text-align: center; margin-top: 40px;">
                    <button type="submit" class="btn btn-primary btn-next">Next</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
