{% extends 'layout/base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/quest.css' %}">
{% endblock custom_css %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10" style="margin-bottom:40px">
                <div class="content-wrap">
                    <div class="progress">
                        <div class="progress-bar custom-bar" style="width:30%"></div>
                    </div>

                    <div class="question-wrapper"></div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-navi previous-question">Previous</button>
                        </div>
                        <div class="col-md-4">
                            <div class="page-of">
                                <input name="current-question-num" class="current-question-num" type="text">
                                <p>/20</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-navi skip pull-right next-question">Skip</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-top:100px">
                <div class="example" data-timer="4000"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        var csrf = "{{ csrf_token }}";
        var exam_id = "{{ exam_id }}";
        var url = "{% url 'exams:action' exam_id %}";
        var skipped_number = [];
        
        // TODO: load skipped number from session
        // TODO: load last question number from session
    </script>
    <script type="text/javascript" src="{% static 'js/take-exam.js' %}"></script>
{% endblock %}
