{% extends 'layout/base.html' %}

{% block main_content %}
    <a href="#">Skip</a>
    <div class="question-wrapper"></div>

    <div>
        <a href="#">Finish</a>
        <a href="#">Next</a>
    </div>
{% endblock %}

{% block custom_js %}
    <script>
        var csrf = "{{ csrf_token }}";
        var exam_id = "{{ exam_id }}";

        var loadQuestion = function (num) {
            var url = "{% url 'exams:action' exam_id %}";
            var data = {
                'id': num,
                'get_question': 1
            };
            $.get(url, data, function (r) {
                $('.question-wrapper').html(r);
            });
        };

        $(document).ready(function () {
            loadQuestion(1);
        });
    </script>
{% endblock %}
