{% extends 'layout/base.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="col-md-12" style="margin-top: 10%">
        <div class="col-md-4">
            <div class="user-detail">
                <div class="pp-wrapper">
                    <img src="img/ichimatsu.jpg" >
                </div>
                <div class="user-detail-p">
                    <p>{{ request.user.display_name }}</p>
                    <p class="address">{{ request.user.get_full_name }}</p>
                </div>
                <hr>
                <div class="user-bio">
                <p>Finished Exam : <span>7</span></p>
                <p>Best Score : <span>90</span></p>
                <p>Joined at : <span>29 january 2016</span></p>
                </div>
                <div class="btn-user-wrap">
                    <button type="submit" class="btn btn-default btn-user" data-toggle="modal" data-target=".bs-example-modal-lg">View Detail</button>
                    <a href="edit-user.html" class="btn btn-default btn-user">Edit Profile</a>
                </div>
            </div>


        </div>

        <!-- finished exams -->
        <div class="col-md-8">
            <div class="exam-list">
                <p>{{ exams.count }} Exams</p>
                <hr>
                <div class="exam">
                    {% for exam in exams %}
                    <div class="col-md-6">
                        <div class="card-box">
                            <div class="card-box-detail">
                                <p class="category">Android</p>
                                <p class="exam-title">{{ exam.title }}</p>
                                <p style="font-size: 14px; margin-top: 25px;"><i class="fa fa-clock"></i> {{ exam.created|date:"d N Y" }}</p>
                            </div>
                            <div class="card-box-skor">
                                <p>Siswa</p>
                                <p>75</p>
                                <a href="{% url 'exams:detail' exam.id %}">See Detail</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        </div>
</div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">User Detail</h4>
          </div>
          <div class="modal-body row">
            <div class="col-md-4">
                <img src="img/ichimatsu.jpg" >
            </div>
            <div class="col-md-2">
                <p>Full Name: </p>
                <p>Gender: </p>
                <p>Age: </p>
                <p>Address: </p>
                <p>City: </p>
                <p>Email: </p>
                <p>Phone: </p>
                <p>Joined at: </p>
            </div>
            <div class="col-md-4">
                <p>Ichimatsu Matsuno</p>
                <p>Male</p>
                <p>18</p>
                <p>Punie</p>
                <p>Mataram</p>
                <p>ichi@gmail.com</p>
                <p>088970876</p>
                <p>24 Januari 2016</p>
            </div>
          </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>

    <!-- modal-edit -->
    <div class="modal fade bs-example-modal-lg-edit " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">User Detail</h4>
          </div>
          <div class="modal-body row">
            <div class="col-md-4">
                <img src="img/ichimatsu.jpg" >
            </div>
            <div class="col-md-2">
                <p>Full Name: </p>
                <p>Gender: </p>
                <p>Age: </p>
                <p>Address: </p>
                <p>City: </p>
                <p>Email: </p>
                <p>Phone: </p>
                <p>Joined at: </p>
            </div>
            <div class="col-md-4">
                <p>Ichimatsu Matsuno</p>
                <p>Male</p>
                <p>18</p>
                <p>Punie</p>
                <p>Mataram</p>
                <p>ichi@gmail.com</p>
                <p>088970876</p>
                <p>24 Januari 2016</p>
            </div>
          </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" >Save Changes</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
{% endblock %}
