{% extends 'layout/base.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block main_content %}
    <div class="col-md-12" style="margin-top: 10%">
        <!-- user detail -->
        <div class="col-md-4">
            <div class="user-detail">
                <img src="img/ichimatsu.jpg">
                <div class="user-detail-p">
                    <p>Ichimatsu Matsuno</p>
                    <p class="address">Student</p>
                </div>
                <hr>
                <div class="user-bio">
                    <p>Finished Exam : <span>7</span></p>
                    <p>Best Score : <span>90</span></p>
                    <p>Joined at : <span>29 january 2016</span></p>
                </div>
                <div class="btn-user-wrap">
                    <button type="submit" class="btn btn-default btn-user"
                            data-toggle="modal"
                            data-target=".bs-example-modal-lg">View Detail
                    </button>
                    <button type="submit" class="btn btn-default btn-user"
                            onclick="window.open('edit-user.html')"><a
                            href="edit-user.html">Edit Profile</a></button>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="exam-list">
                <button class="btn btn-success pull-right">Add Exam</button>
                <p>{{ exams.count }} Exams</p>
                <hr>

                <div class="exam">
                    {% if exams %}
                    {% for exam in exams %}
                    <div class="exam-card">
                        <div class="col-sm-8 card-detail">
                            <p class="category">Android</p>
                            <p class="exam-title">{{ exam.title }}</p>
                            {% if exam.available %}
                            <p class="status">Available</p>
                            {% endif %}
                        </div>
                        <div class="col-sm-4 skor">
                            <h4>Siswa</h4>
                            <h1>75</h1>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        No exams, <a href="{% url 'exams:add' %}">create now.</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
