body {
	font-family: nunitoMedium;
	background-color: #EDEEF0;
}

.my-nav {
	background-color: #fff;
}

.content {
	background-color: #fff;
	box-shadow: 1px 6px 7px -5px #000000;
	width: 100%;
	height: 100%;
	margin-top: 83px;
	border-radius: 10px;
	padding: 25px 30px 55px 30px;
}

.content-detail {
	padding: 40px 30px 30px 40px;
	margin-bottom: 40px;
}

.durasi {
	width: 50px;
	display: inline-block;
}


.date {
	display: inline-block;
	width: 100%;
}

.date label {
	display: block;
}

.custom-control {
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
}

.form-group {
	width: 45%;
	display: inline-block;
	margin-right: 5px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #4A8BDA; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #4A8BDA; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #fff; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #4A8BDA; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.form-control:focus {

	border-color: #4A8BDA;
}
