{% extends 'layout/base.html' %}

{% block main_content %}
    <form action="{% url 'exams:questions:create' exam_id %}" method="post" class="form-horizontal question-form" role="form"> {% csrf_token %}
        <input type="hidden" value="{{ exam_id }}" name="exam_id">
        <input class="form-control" type="text" name="position" value="{{ current_number }}">
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <textarea name="question" rows="5" class="form-control"></textarea>
                Multiple <input type="checkbox" name="multiple">
            </div>

            <div class="form-group">
                <input type="radio" name="mark-correct" value="1" class="answer-select">
                <input type="text" name="answer-choice-1" value="A" readonly>
                <input type="text" class="form-control answer-select" name="answer-1" required>
            </div>

            <div class="form-group">
                <input type="radio" name="mark-correct" value="2" class="answer-select">
                <input type="text" name="answer-choice-2" value="B" readonly>
                <input type="text" class="form-control answer-select" name="answer-2" required>
            </div>

            <div class="form-group">
                <input type="radio" name="mark-correct" value="3" class="answer-select">
                <input type="text" name="answer-choice-3" value="C" readonly>
                <input type="text" class="form-control answer-select" name="answer-3" required>
            </div>

            <div class="form-group">
                <input type="radio" name="mark-correct" value="4" class="answer-select">
                <input type="text" name="answer-choice-4" value="D" readonly>
                <input type="text" class="form-control" name="answer-4" required>
            </div>

            <div class="form-group">
                <input type="radio" name="mark-correct" value="5" class="answer-select">
                <input type="text" name="answer-choice-5" value="E" readonly>
                <input type="text" class="form-control" name="answer-5" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block custom_js %}
    <script>
    var csrf = '{{ csrf_token }}';
    var correct_answers = [];
    $(document).on('change', '.answer-select', function (e) {
        var t = $(this);
        var answer_val = t.val();

        if (t.attr('type') == 'checkbox') {
            if (t.prop('checked')) {
                correct_answers.push(answer_val);
            } else {
                correct_answers.splice(correct_answers.indexOf(answer_val), 1);
            }
        }
        if (t.attr('type') == 'radio') {
            correct_answers = [answer_val]
        }
    });

    $(document).on('change', 'input[name=multiple]', function (e) {
        var t = $(this);
        if (t.prop('checked')) {
            $('.answer-select[type=radio]').attr('type', 'checkbox');
            $('.answer-select[type=checkbox]').removeAttr('checked');
        } else {
            $('.answer-select[type=checkbox]').attr('type', 'radio');
            $('.answer-select[type=radio]').removeAttr('checked');
        }
        correct_answers = [];
    });

    $(document).on('submit', '.question-form', function (e) {
        e.preventDefault();
        var t = $(this);
        var url = t.attr('action');

        var data = {};
        t.serializeArray().map(function(x){data[x.name] = x.value;});

        data['correct_answers'] = correct_answers;

        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function (r) {

            }
        });
    });
    </script>
{% endblock %}
